/* common shared styles */
body {
    font-family: 'Open Sans', sans-serif;
}

.text-primary {
    color: #FD6E0A;
}

.btn-primary {
    border-radius: 5px;
    background: #FD6E0A;
    border: 0;
    color: #FFF;
    font-size: 20px;
    font-weight: 400;
    padding: 15px 35px;
}

/* #hire-me-btn{
    width: 150px;
    height: 64px;
    flex-shrink: 0;  
    নিজে নিজে করতে গেছিলাম। হয় নাই!  
} */

/* nav related styles */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 200px;
}

.nav-title {
    color: #181818;
    font-size: 45px;
    font-weight: 800px;
}

nav ul {
    display: flex;
    align-items: center;
}

nav li {
    list-style: none;
    margin-right: 50px;
    color: #474747;
    font-size: 20px;
    font-weight: 400;
}

nav a {
    text-decoration: none;
    color: #474747;
}

/* header styles added */
.header{
    background-color: #FFF8F3;
    background-image: url('../images/header_bg.png');
    background-repeat: no-repeat;
    background-position: bottom right;
    /* background-position-x: right; */
    /* background-position-y: bottom; */
}

.banner{
    padding: 30px 30px 0px 150px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.banner-content{
    max-width: 585px;
}

.banner-greeting{
    color: #474747;
    font-size: 45px;
    font-weight: 600;
    margin-bottom: 0;
}
.banner-title{
    color: #181818;
    font-size: 85px;
    font-weight: 700;
    margin-top: 5px;
    margin-bottom: 20px;
}

.banner-description{
    color: #757575;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 30px;

}

/* .pro-pic{
    width: 584px;
    height: 684px;
    flex-shrink: 0;
} */

.banner .pro-pic{
    width: 500px;
}

/* main section styles*/
/* about section styles */